.header {
  background-color: var(--header-bg-clr);

  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .header {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 50px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoWrap {
  display: flex;
  align-items: center;
  gap: 5px;

  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--main-text-clr);
}

.navList {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navLink {
  display: block;

  padding: 20px 0px;

  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--main-text-clr);
}
