:root {
  /* CONTAINERS */
  --desktop-width: 1200px;
  --tablet-width: 768px;
  --mobile-width: 480px;

  /* COLORS */
  --main-bg-clr: #f6f6f7;
  --header-bg-clr: #fcfcfc;
  --secondary-bg-clr: #ffffff;

  --main-text-clr: #161616;
  --secondary-text-clr: rgba(255, 255, 255, 0.5);

  --disabled-item-clr: rgba(22, 22, 22, 0.7);

  --main-icons-clr: rgba(22, 22, 22, 0.8);
  --primary-clr: #bedbb0;

  /* OTHER */
  --border-radius: 10px;
  --box-shadow: 0px 4px 16px 0px rgba(22, 22, 22, 0.05);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--main-bg-clr);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}
